@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Inconsolata&family=Lato&family=Montserrat:ital,wght@1,200&family=Ms+Madi&family=Mukta:wght@300&family=Orelega+One&family=Oswald&family=Rajdhani:wght@600&family=Sen&family=Square+Peg&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  background: linear-gradient(to right, #d53369, #be2a04); }

/*general*/
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%; }

.cabecera {
  grid-area: header;
  background-color: #000;
  border-bottom: solid 4px #af0e2f; }

.contenedorNav {
  padding: 0px; }

/*navegacion*/
.navegador {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 50px; }

.nav {
  align-items: center;
  height: 100%; }

.nav__link--logo {
  padding: 10px;
  margin-right: 30px;
  width: 105px;
  border: solid 3px #fff;
  border-radius: 50%;
  background: linear-gradient(to right, #af0206, #761161); }

/*nombre del gym*/
.fitnessclub {
  color: #fff;
  font-family: "Rajdhani";
  font-size: 60px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  text-shadow: none; }
  .fitnessclub span {
    color: #af0e2f;
    animation-name: spanTitulo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /*cambia constantemente los colores del nombre del gimnasio*/ }

@keyframes spanTitulo {
  0% {
    color: #af0e2f; }
  50% {
    color: #761161; }
  100% {
    color: #af0e2f; } }
  .fitnessclub:hover {
    color: #fff; }

.navbar-collapse {
  flex-grow: 0; }

.contact {
  margin-right: 15px; }

li {
  margin: 15px; }
  li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
    li a i {
      color: #fff;
      font-size: 25px;
      margin: 15px; }

.ul__container__a {
  font-size: 1.8rem;
  color: #fff;
  font-family: "Rajdhani";
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 3px 2px #af0e2f; }
  .ul__container__a:hover {
    color: #af0e2f;
    text-shadow: none; }

/*termina header y nav del index*/
/*main*/
.contenedor {
  grid-area: main;
  background-image: url("../assets/img/Index/imgfondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.contenedor__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%; }
  .contenedor__section h1, .contenedor__section h2 {
    font-size: 90px;
    font-family: "Bebas Neue";
    letter-spacing: 12px;
    text-align: center;
    color: #000;
    margin-top: 50px;
    padding: 30px;
    text-transform: none;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px #af0e2f; }
  .contenedor__section h2 {
    margin-top: 0px;
    padding: 20px;
    font-size: 60px; }

.contenedor__section__boton {
  font-size: 30px;
  background-color: #af0e2f;
  font-family: "Rajdhani";
  letter-spacing: 4px;
  padding: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  text-shadow: none;
  transition: all 0.5s;
  /*aplica transformaciones al boton Contactanos*/ }
  .contenedor__section__boton:hover {
    transform: scale(1.1); }

/*logos de redes sociales*/
.logos-redes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%; }
  .logos-redes .fa-brands {
    color: #000;
    text-shadow: 2px 2px #fff;
    font-size: 80px;
    margin: 20px;
    animation-name: logos-redes;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    /*animacion de redes sociales: cambio de color*/ }

@keyframes logos-redes {
  0% {
    color: #000; }
  25% {
    color: #af0e2f; }
  50% {
    color: #761161; }
  75% {
    color: #af0e2f; }
  100% {
    color: #000; } }
    .logos-redes .fa-brands:hover {
      text-shadow: 2px 2px #000; }

/*termina main del index*/
/*footer*/
footer {
  border-top: solid 4px #af0e2f;
  padding: 20px; }

.container__footer {
  grid-area: footer;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }
  .container__footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .container__footer div .container__footer--derechos, .container__footer div .email, .container__footer div .tel {
      font-family: "Montserrat";
      font-weight: bold;
      margin: 0px 4px; }

/*termina footer del index*/
@media screen and (max-width: 1600px) {
  .ul__container__a {
    font-size: 1.7rem; }
  .fitnessclub {
    font-size: 50px; }
  li a i {
    font-size: 22px; } }

@media screen and (max-width: 1480px) {
  .nav__link--logo {
    width: 95px; }
  .fitnessclub {
    font-size: 45px; }
  .ul__container__a {
    font-size: 1.6rem;
    color: #fff; }
  .contenedor__section {
    justify-content: flex-end; }
    .contenedor__section h1, .contenedor__section h2 {
      font-size: 80px; }
    .contenedor__section h2 {
      font-size: 50px; }
  .contenedor__section__boton {
    font-size: 25px;
    padding: 25px; }
  .container__footer--derechos, .container__footer div .email, .container__footer div .tel, .email, .tel {
    font-size: 17px; } }

@media screen and (max-width: 1370px) {
  .fitnessclub {
    font-size: 40px; }
  .ul__container__a {
    font-size: 1.5rem;
    color: #fff; }
  li {
    margin: 12px; } }

@media screen and (max-width: 1290px) {
  .nav__link--logo {
    width: 90px;
    margin: 0px; }
  li {
    margin: 10px; }
  .ul__container__a {
    font-size: 1.4rem; }
  .contenedor__section h1, .contenedor__section h2 {
    font-size: 75px; }
  .contenedor__section h2 {
    font-size: 45px; }
  .container__footer--derechos, .container__footer div .email, .container__footer div .tel, .email, .tel {
    font-size: 14px; }
  .fa-brands {
    font-size: 60px !important; } }

@media screen and (max-width: 1222px) {
  .ul__container__a {
    font-size: 1.3em; }
  li a i {
    font-size: 20px; } }

@media screen and (max-width: 1166px) {
  .ul__container__a {
    font-size: 1.2em; }
  li {
    margin: 8px; }
    li a i {
      font-size: 18px; } }

@media screen and (max-width: 1100px) {
  .fitnessclub {
    font-size: 35px; } }

@media screen and (max-width: 1080px) {
  .nav__link--logo {
    width: 80px; }
  .fitnessclub {
    font-size: 30px; }
  .ul__container__a {
    font-size: 1.2em; }
  li {
    margin: 6px; }
    li a i {
      font-size: 16px; } }

@media screen and (max-width: 992px) {
  .contenedorNav {
    justify-content: center !important; } }

@media screen and (max-width: 990px) {
  .fitnessclub {
    font-size: 40px; }
  .ul__container__a {
    font-size: 1.6rem; } }

@media screen and (max-width: 900px) {
  .contenedor__section h1, .contenedor__section h2 {
    font-size: 70px;
    padding: 10px; }
  .contenedor__section h2 {
    font-size: 40px;
    padding: 10px; }
  .contenedor__section__boton {
    font-size: 20px;
    padding: 20px; }
  .container__footer--derechos, .container__footer div .email, .container__footer div .tel, .email, .tel {
    font-size: 12px; } }

/*vista de tablet*/
@media screen and (max-width: 700px) {
  .contenedor__section h1, .contenedor__section h2 {
    font-size: 50px;
    text-shadow: 1px 1px #af0e2f; }
  .contenedor__section h2 {
    font-size: 35px;
    text-shadow: 1px 1px #af0e2f; }
  .contenedor__section__boton {
    font-size: 17px;
    padding: 17px; }
  .container__footer--derechos, .container__footer div .email, .container__footer div .tel, .email, .tel {
    font-size: 12px; }
  .fa-brands {
    font-size: 45px !important; } }

@media screen and (max-width: 480px) {
  .nav__link--logo {
    width: 70px; }
  .fitnessclub {
    font-size: 35px; }
  .contenedor__section h1, .contenedor__section h2 {
    font-size: 40px; }
  .contenedor__section h2 {
    font-size: 30px; }
  .container__footer--derechos, .container__footer div .email, .container__footer div .tel, .email, .tel {
    font-size: 10px; } }

@media screen and (max-width: 390px) {
  .contenedorNav {
    justify-content: flex-start !important; }
  .fitnessclub {
    font-size: 30px; }
  .boton-barras {
    display: flex;
    width: 100%;
    justify-content: center; } }

.grid-actividades {
  display: grid;
  grid-template-areas: "header" "section1" "section2" "footer"; }

/*SECCION UNO DEL MAIN*/
.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
  grid-area: section1; }

.primera__section__acti {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }
  .primera__section__acti h1, .primera__section__acti .contenedor__section h2, .contenedor__section .primera__section__acti h2 {
    font-size: 50px;
    font-family: "Fjalla One";
    letter-spacing: 12px;
    color: #000;
    text-transform: none;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px #fff;
    padding: 20px; }
  .primera__section__acti ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; }
    .primera__section__acti ul li {
      font-size: 25px;
      list-style: circle;
      font-family: "Rajdhani";
      color: #fff;
      padding: 5px;
      margin: 7px; }

.container--carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%; }
  .container--carousel .galeria {
    width: 90%;
    border: 2px solid #000; }

/*SECCION 2 DEL MAIN*/
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  grid-area: section2; }

.section2__div {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .section2__div h2 {
    font-size: 60px;
    letter-spacing: 12px;
    font-family: "Fjalla One";
    color: #000;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 1px #fff; }
  .section2__div h3, .section2__div .card h4, .card .section2__div h4, .section2__div .card h5, .card .section2__div h5 {
    font-size: 30px;
    font-family: "Fjalla One";
    color: #000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px #fff; }

.section2__div--boton {
  font-size: 30px;
  background-color: #000;
  color: #fff;
  border: solid 3px #fff;
  text-transform: uppercase;
  font-family: "Rajdhani";
  padding: 30px;
  transition: all 0.5s; }
  .section2__div--boton:hover {
    transform: scale(1.2);
    color: #af0e2f;
    font-weight: bold; }

#video {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px; }
  #video video {
    width: 90%;
    border: 3px solid #000; }

#p {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  #p p {
    text-transform: none;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 4px #fff;
    font-size: 100px;
    text-align: center;
    letter-spacing: 12px;
    font-family: "Bebas Neue";
    font-style: oblique;
    color: #000; }

/*media queries de actividades*/
@media screen and (max-width: 1300px) {
  .primera__section__acti h1, .primera__section__acti .contenedor__section h2, .contenedor__section .primera__section__acti h2 {
    font-size: 40px; }
  .primera__section__acti ul li {
    font-size: 22px; }
  .section2__div h2 {
    font-size: 45px; }
  #p p {
    font-size: 55px;
    text-shadow: 2px 1px #fff; }
  .section2__div--boton {
    font-size: 25px;
    padding: 25px; } }

@media screen and (max-width: 1000px) {
  .section2__div h2 {
    font-size: 40px; } }

@media screen and (max-width: 900px) {
  .primera__section__acti h1, .primera__section__acti .contenedor__section h2, .contenedor__section .primera__section__acti h2 {
    font-size: 30px; }
  .section2__div h2 {
    font-size: 30px; }
  .section2__div h3, .section2__div .card h4, .card .section2__div h4, .section2__div .card h5, .card .section2__div h5 {
    font-size: 25px; }
  .section2__div--boton {
    font-size: 20px;
    padding: 20px; }
  #p p {
    font-size: 40px;
    text-shadow: 2px 1px #fff; } }

@media screen and (max-width: 750px) {
  .section1 {
    display: block; }
  .primera__section__acti {
    display: flex;
    width: 100%;
    justify-content: center; }
  .container--carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
  .galeria {
    width: 80%;
    border: 2px solid #000; } }

@media screen and (max-width: 700px) {
  .primera__section__acti h1, .primera__section__acti .contenedor__section h2, .contenedor__section .primera__section__acti h2 {
    font-size: 25px;
    text-shadow: 1px 1px #fff; }
  .primera__section__acti ul li {
    font-size: 18px; }
  .section2__div h2 {
    font-size: 28px;
    text-shadow: 1px 1px #fff;
    letter-spacing: 9px; }
  .section2__div h3, .section2__div .card h4, .card .section2__div h4, .section2__div .card h5, .card .section2__div h5 {
    font-size: 24px;
    text-shadow: 1px 1px #fff; }
  .section2__div--boton {
    font-size: 20px; }
  #p p {
    font-size: 28px;
    text-shadow: 1px 1px #fff;
    font-style: normal;
    letter-spacing: 9px; } }

@media screen and (max-width: 500px) {
  .primera__section__acti h1, .primera__section__acti .contenedor__section h2, .contenedor__section .primera__section__acti h2 {
    font-size: 22px; }
  .primera__section__acti ul li {
    font-size: 15px; }
  .section2__div h2 {
    font-size: 26px; }
  .section2__div h3, .section2__div .card h4, .card .section2__div h4, .section2__div .card h5, .card .section2__div h5 {
    font-size: 20px; }
  .section2__div--boton {
    font-size: 18px;
    padding: 18px; }
  #video {
    width: 100%; }
  #p {
    width: 100%; }
    #p p {
      font-size: 40px;
      margin: 40px;
      margin-bottom: 0px; } }

@media screen and (max-width: 380px) {
  .primera__section__acti h1, .primera__section__acti .contenedor__section h2, .contenedor__section .primera__section__acti h2 {
    font-size: 26px; }
  .primera__section__acti ul li {
    font-size: 18px; }
  .section2__div h2 {
    font-size: 24px; }
  .section2__div h3, .section2__div .card h4, .card .section2__div h4, .section2__div .card h5, .card .section2__div h5 {
    font-size: 20px; } }

/*termina actividades*/
/*seccion sedes*/
.grid-sedes {
  grid-template-areas: "header"  "section"  "article"  "footer"; }

.titulo--sedes {
  text-align: center;
  margin: 40px 0;
  font-family: "Fjalla One";
  font-size: 70px;
  letter-spacing: 5px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px 1px #fff; }

.sec {
  grid-area: section;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.card {
  width: 400px;
  height: 300px;
  margin: 50px 40px;
  background-size: contain;
  background-image: linear-gradient(to bottom, #321b5f, #87021f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation-name: bordesColoridos;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

@keyframes bordesColoridos {
  0% {
    border: 4px solid #000; }
  25% {
    border: 4px solid #460000; }
  50% {
    border: 4px solid #6f0101; }
  75% {
    border: 4px solid #460000; }
  100% {
    border: 4px solid #000; } }
  .card:hover {
    background: linear-gradient(to bottom, #322056, #89243a); }
  .card h3, .card h4, .card h5 {
    font-family: "Oswald";
    text-transform: uppercase;
    color: #fff;
    margin: 20px 0;
    font-size: 40px; }
  .card h4 {
    font-size: 30px; }
  .card h5 {
    font-size: 20px; }

article {
  grid-area: article; }
  article h2 {
    font-size: 50px;
    font-family: "Oswald";
    color: #000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 1px #fff;
    margin: 50px 0; }

.article__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

#img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 50%; }
  #img img {
    width: 80%;
    border: 2px solid #000; }

#parrafo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%; }
  #parrafo p {
    font-size: 2rem;
    width: 90%;
    font-family: "Gill Sans";
    color: #fff;
    border: 2px solid #000;
    background-color: #000;
    padding: 30px; }

/*media queries de sedes*/
@media screen and (max-width: 1340px) {
  .titulo--sedes {
    font-size: 50px; }
  .card {
    width: 350px;
    height: 250px; }
    .card h3, .card h4, .card h5 {
      font-size: 35px;
      margin: 10px 0; }
    .card h4 {
      font-size: 20px;
      margin: 10px 0; }
    .card h5 {
      font-size: 15px;
      margin: 10px 0; }
  article h2 {
    font-size: 40px; }
  #parrafo {
    width: 100%; }
    #parrafo p {
      font-size: 1.8rem; }
  #img {
    width: 100%; } }

@media screen and (max-width: 1000px) {
  .titulo--sedes {
    font-size: 40px; }
  #parrafo p {
    font-size: 1.6rem; } }

@media screen and (max-width: 900px) {
  .titulo--sedes {
    font-size: 35px;
    text-shadow: 1px 1px #fff; }
  #parrafo p {
    font-size: 1.4rem; }
  article h2 {
    margin: 30px 0; } }

@media screen and (max-width: 700px) {
  .titulo--sedes {
    font-size: 30px;
    margin: 30px 0px;
    letter-spacing: 2px;
    text-shadow: 1px 1px #fff; }
  article h2 {
    font-size: 30px; }
  #parrafo p {
    font-size: 1.2rem;
    padding: 20px; } }

@media screen and (max-width: 520px) {
  .titulo--sedes {
    font-size: 28px;
    letter-spacing: 5px;
    text-shadow: 1px 0.5px #fff; }
  .card {
    width: 300px;
    height: 200px; }
    .card h3, .card h4, .card h5 {
      font-size: 30px; }
    .card h4 {
      font-size: 20px; }
    .card h5 {
      font-size: 18px; }
  #parrafo p {
    font-size: 1.1rem; } }

@media screen and (max-width: 380px) {
  .titulo--sedes {
    font-size: 22px;
    letter-spacing: 3px;
    text-shadow: 1px 0.2px #fff; }
  .card {
    width: 230px;
    height: 160px;
    margin: 40px; }
    .card h3, .card h4, .card h5 {
      font-size: 25px; }
    .card h4 {
      font-size: 15px; }
    .card h5 {
      font-size: 10px; }
  article h2 {
    font-size: 25px; }
  #parrafo p {
    font-size: 1rem; } }

/*seccion nosotros*/
.grid-nosotros {
  grid-template-areas: "header" "main"  "footer"; }

.main--titulo {
  text-align: center;
  margin: 40px 0;
  font-family: "Fjalla One";
  font-size: 60px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px 1px #fff;
  color: #000; }

.contenedor--nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.div__entrenadores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 26rem;
  height: 33rem;
  border: 2px solid #fff;
  background-image: linear-gradient(to bottom, #af0e2f, #0a0a0a);
  margin: 30px;
  transition: all .2s;
  /*hace zoom y cambia de color de fondo*/ }
  .div__entrenadores:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to bottom, #af374f, #0a0a0a); }
  .div__entrenadores img {
    width: 70%;
    height: 50%;
    margin-top: 20px; }
  .div__entrenadores h3, .div__entrenadores .card h4, .card .div__entrenadores h4, .div__entrenadores .card h5, .card .div__entrenadores h5 {
    font-size: 28px;
    text-transform: uppercase;
    font-family: "Oswald";
    margin-top: 10px;
    color: #fff; }
  .div__entrenadores p {
    font-size: 20px;
    font-family: "Fjalla One";
    color: #fff;
    padding: 20px;
    text-align: center; }

/*media queries de nosotros*/
@media screen and (max-width: 1340px) {
  .main--titulo {
    font-size: 50px; }
  .div__entrenadores {
    width: 22rem;
    height: 29rem; } }

@media screen and (max-width: 900px) {
  .main--titulo {
    font-size: 40px; }
  .div__entrenadores {
    width: 19rem;
    height: 26rem; }
    .div__entrenadores h3, .div__entrenadores .card h4, .card .div__entrenadores h4, .div__entrenadores .card h5, .card .div__entrenadores h5 {
      font-size: 22px; }
    .div__entrenadores p {
      font-size: 16px; } }

@media screen and (max-width: 700px) {
  .main--titulo {
    font-size: 30px; }
  .div__entrenadores {
    width: 16rem;
    height: 23rem; }
    .div__entrenadores h3, .div__entrenadores .card h4, .card .div__entrenadores h4, .div__entrenadores .card h5, .card .div__entrenadores h5 {
      font-size: 20px; }
    .div__entrenadores p {
      font-size: 14px; } }

@media screen and (max-width: 420px) {
  .div__entrenadores {
    width: 14rem;
    height: 21rem; }
    .div__entrenadores h3, .div__entrenadores .card h4, .card .div__entrenadores h4, .div__entrenadores .card h5, .card .div__entrenadores h5 {
      font-size: 18px; }
    .div__entrenadores p {
      font-size: 11px; } }

@media screen and (max-width: 380px) {
  .main--titulo {
    font-size: 24px; } }

/*termina seccion Sedes*/
.grid-contacto {
  display: grid;
  grid-template-areas: "header"  "main"  "footer"; }

.section__contacto {
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%; }

.subtitulo--contacto, .titulo--contacto {
  font-size: 50px;
  text-transform: none;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px #fff;
  text-align: center;
  letter-spacing: 12px;
  font-family: "Bebas Neue";
  color: #000;
  margin: 20px; }

.titulo--contacto {
  font-size: 90px; }

form {
  width: 90%;
  background: #e28686;
  border: solid 4px #000;
  border-radius: 0.5%;
  padding: 30px;
  margin: 30px; }
  form div {
    margin: 10px 0; }

.contacto__input {
  padding: 15px;
  font-size: 1.3rem;
  border-left: solid 4px #89243a; }
  .contacto__input:hover {
    background-color: #e0e0e0; }

.checkbox, .label--sede {
  font-size: 1.3rem;
  color: #000; }

.boton__checkbox {
  margin-left: 10px; }

.contacto__botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .contacto__botones input {
    padding: 15px;
    margin: 0px 20px;
    width: 20%;
    font-size: 1.3rem;
    background-color: #87021f;
    color: #fff;
    border: none; }
    .contacto__botones input:hover {
      background-color: #b3304a; }

textarea {
  height: 250px;
  resize: none; }

@media screen and (max-width: 1160px) {
  .subtitulo--contacto, .titulo--contacto {
    font-size: 40px; }
  .titulo--contacto {
    font-size: 70px; }
  .contacto__input {
    font-size: 1.2rem; }
  .checkbox, .label--sede, .label--sede {
    font-size: 1.2rem; }
  .contacto__botones input {
    padding: 12px;
    width: 25%;
    font-size: 1.2rem; } }

@media screen and (max-width: 700px) {
  .subtitulo--contacto, .titulo--contacto {
    font-size: 35px; }
  .titulo--contacto {
    font-size: 60px; }
  .contacto__input {
    font-size: 1.1rem; }
  .checkbox, .label--sede, .label--sede {
    font-size: 1.1rem; } }

@media screen and (max-width: 560px) {
  .subtitulo--contacto, .titulo--contacto {
    font-size: 30px;
    letter-spacing: 8px; }
  .titulo--contacto {
    font-size: 50px; }
  .contacto__input {
    font-size: 1rem; }
  .checkbox, .label--sede, .label--sede {
    font-size: 1rem; }
  .contacto__botones input {
    padding: 10px;
    font-size: 1.1rem; }
  .main__contacto {
    width: 100vw; } }

@media screen and (max-width: 430px) {
  .subtitulo--contacto, .titulo--contacto {
    font-size: 28px; }
  .titulo--contacto {
    font-size: 45px; } }

@media screen and (max-width: 400px) {
  .titulo--contacto {
    font-size: 43px;
    letter-spacing: 6px; }
  .contacto__botones input {
    font-size: 1rem;
    width: 28%; } }

@media screen and (max-width: 350px) {
  .subtitulo--contacto, .titulo--contacto {
    font-size: 26px; }
  .titulo--contacto {
    font-size: 40px;
    letter-spacing: 4px; }
  .checkbox, .label--sede, .label--sede {
    font-size: 0.9rem; }
  .contacto__botones input {
    font-size: 0.9rem;
    width: 30%; } }

@media screen and (max-width: 320px) {
  .titulo--contacto {
    font-size: 35px; } }
