.grid-contacto {
	display: grid;
	grid-template-areas:
	"header" 
	"main" 
	"footer";
}

.section__contacto {
	grid-area: main;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.subtitulo--contacto {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 12px;
	font-family: map-get($textos,texto3);
	text-shadow: 1px 1px map-get($colores,blanco);
	color:map-get($colores,negro);
	margin: 20px;
}

.titulo--contacto {
	@extend .subtitulo--contacto;
	font-size: 90px;
}


form {
	width: 90%;
	background:  map-get($colores,rosav1);
	border: solid 4px map-get($colores,negro);
	border-radius: 0.5%;
	padding: 30px;
	margin: 30px;


	div {
		margin: 10px 0;
	}
}
.contacto__input {
	padding: 15px;
	font-size: 1.3rem;
	border-left: map-get($colores,bordo) solid 4px;
	&:hover {
		background-color: map-get($colores,gris);
	}
}
.checkbox {
	font-size: 1.3rem;
	color:map-get($colores,negro);
}
.label--sede {
	font-size: 1.3rem;
	color:map-get($colores,negro);
}
.boton__checkbox {
	margin-left: 10px;
}

.contacto__botones {
	@include flexbox (row,center,center,nowrap);

	input{
		padding: 15px;
		margin: 0px 20px;
		width: 20%;
		font-size: 1.3rem;
		background-color: map-get($colores,bordoFuerte);
		color: map-get($colores,blanco);
		border: none;

		&:hover {
			background-color:map-get($colores,rosaV4);
		}
	}
}

textarea {
	height: 250px;
	resize: none;
}

@media screen and (max-width:1160px){
	.subtitulo--contacto {
		font-size: 40px;
	}
	
	.titulo--contacto {
		font-size: 70px;
	}

	.contacto__input {
		font-size: 1.2rem;
   }

	.checkbox,.label--sede {
	   font-size: 1.2rem;
	}

   .contacto__botones {
	   input{
		   padding: 12px;
		   width: 25%;
		   font-size: 1.2rem;
	   }
   }
}

@media screen and (max-width:700px){

	.subtitulo--contacto {
		font-size: 35px;
	}
	
 	.titulo--contacto {
 		font-size: 60px; 
	}

	.contacto__input {
	 	font-size: 1.1rem;
	}

 	.checkbox,.label--sede {
		font-size: 1.1rem;
 	}

}

@media screen and (max-width:560px){
	.subtitulo--contacto {
		font-size: 30px;
		letter-spacing:8px;
	}
	
 	.titulo--contacto {
 		font-size: 50px; 
	}

	.contacto__input {
	 	font-size: 1rem;
	}

 	.checkbox,.label--sede {
		font-size: 1rem;
 	}

	.contacto__botones {
		input{
			padding: 10px;
			font-size: 1.1rem;
		}
	}

	.main__contacto{
		width: 100vw;
	}
}


@media screen and (max-width:430px){

	.subtitulo--contacto {
		font-size: 28px;
	}
	
 	.titulo--contacto {
 		font-size: 45px; 
	}
}

@media screen and (max-width:400px){
 	.titulo--contacto {
 		font-size: 43px; 
		letter-spacing: 6px;
	}

	.contacto__botones {
		input{
			font-size: 1rem;
			width:28%;
		}
	}
}

@media screen and (max-width:350px){

	.subtitulo--contacto {
		font-size: 26px;
	}

	.titulo--contacto {
		font-size: 40px; 
		letter-spacing: 4px;
   	}

	.checkbox,.label--sede {
		font-size: 0.9rem;
 	}

   .contacto__botones {
	   input{
		   font-size: 0.9rem;
		   width:30%;
	   }
   }

}

@media screen and (max-width:320px){

	.titulo--contacto {
		font-size: 35px; 
   	}
}




// @media screen and (max-width:715px){
// 	.subtitulo--contacto {
// 		font-size: 30px;
// 	}
	
// 	.titulo--contacto {
// 		font-size: 60px;
// 	}

// 	.contacto__input {
// 		font-size: 1.2rem;
// 	}

// 	.checkbox,.label--sede {
// 		font-size: 1.2rem;
// 		color:map-get($colores,negro);
// 	}

// 	.contacto__botones {
// 		@include flexbox (row,center,center,nowrap);
	
// 		input{
// 			padding: 12px;
// 			width: 25%;
// 			font-size: 1.2rem;
// 		}
// 	}

// 	form{
// 		margin: 30px 80px;

// 	}


// @media screen and (max-width:650px){
// 	form{
// 		margin: 30px 60px;

// 	}




