.grid-contacto {
	display: grid;
	grid-template-areas:
	"header" 
	"main" 
	"footer";
}

.main__contacto {
	grid-area: main;
}

.subtitulo--contacto {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 12px;
	font-family: map-get($textos,texto3);
	text-shadow: 1px 1px map-get($colores,blanco);
	color:map-get($colores,negro);
	margin: 20px;
}

.titulo--contacto {
	@extend .subtitulo--contacto;
	font-size: 90px;
}


form {
	background:  map-get($colores,rosav1);
	border: solid 4px map-get($colores,negro);
	border-radius: 0.5%;
	padding: 30px;
	margin: 30px 100px;
	div {
		margin: 10px 0;
	}
}
.contacto__input {
	padding: 15px;
	font-size: 1.3rem;
	border-left: map-get($colores,bordo) solid 4px;
	&:hover {
		background-color: map-get($colores,gris);
	}
}
.checkbox {
	font-size: 1.3rem;
	color:map-get($colores,negro);
}
.label--sede {
	font-size: 1.3rem;
	color:map-get($colores,negro);
}
.boton__checkbox {
	margin-left: 10px;
}

.contacto__botones {
	@include flexbox (row,center,center,nowrap);

	input{
		padding: 15px;
		margin: 0px 20px;
		width: 20%;
		font-size: 1.3rem;
		background-color: map-get($colores,bordoFuerte);
		color: map-get($colores,blanco);
		border: none;

		&:hover {
			background-color:map-get($colores,rosaV4);
		}
	}
}

textarea {
	height: 250px;
	resize: none;
}

@media screen and (max-width:825px){
	.subtitulo--contacto {
		font-size: 40px;
	}
	
	.titulo--contacto {
		font-size: 70px;
	}

	form{
 		margin: 30px 80px;
 	}
}

@media screen and (max-width:700px){

	form{
		margin: 30px 70px;
	}

	.subtitulo--contacto {
		font-size: 35px;
	}
	
 	.titulo--contacto {
 		font-size: 60px; 
	}

	.contacto__input {
	 	font-size: 1.2rem;
	}

 	.checkbox,.label--sede {
		font-size: 1.2rem;
 	}

	.contacto__botones {
		input{
			padding: 12px;
			width: 25%;
			font-size: 1.2rem;
		}
	}

}

@media screen and (max-width:645px){
	form{
		margin: 30px 60px;
	}
}

@media screen and (max-width:575px){

	form{
		margin: 30px 50px;
	}
}

// @media screen and (max-width:715px){
// 	.subtitulo--contacto {
// 		font-size: 30px;
// 	}
	
// 	.titulo--contacto {
// 		font-size: 60px;
// 	}

// 	.contacto__input {
// 		font-size: 1.2rem;
// 	}

// 	.checkbox,.label--sede {
// 		font-size: 1.2rem;
// 		color:map-get($colores,negro);
// 	}

// 	.contacto__botones {
// 		@include flexbox (row,center,center,nowrap);
	
// 		input{
// 			padding: 12px;
// 			width: 25%;
// 			font-size: 1.2rem;
// 		}
// 	}

// 	form{
// 		margin: 30px 80px;

// 	}


// @media screen and (max-width:650px){
// 	form{
// 		margin: 30px 60px;

// 	}




