/*footer*/

/*padre*/
.container__footer {
	grid-area: footer;
	background-color: #000000;
	color:$colorBlanco;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

    /*hijo*/
	div {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;

        /*hijo*/
        .container__footer--derechos {
            font-family: $textosFooter;
            font-weight: bold;
        }

        /*hijo*/
        .email, .tel {
            font-family: $textosFooter;
            text-transform: uppercase;
            font-weight: bold;
        }

        /*hijo*/
        .footer__titulo {
            color: $colorBlanco;
            font-family: $textosTituloUl;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;    
            font-size:60px;

            span {
                color: $colorPagina;
                animation-name: spanTitulo;
                animation-duration: 2s;
                animation-iteration-count: infinite;
        
                @keyframes spanTitulo {
                    0% {
                        color: $colorPagina;
                    }
                    50% {
                        color: #761161;
                    }
                    100% {
                        color: $colorPagina;
                    }
                }
	        }
        }
    }
}
/*termina footer del index*/