/*footer*/

/*padre*/
.container__footer {
	grid-area: footer;
	background-color:map-get($colores,negro);
	color:map-get($colores,blanco);
	// display: flex;
	// justify-content: space-evenly;
	// flex-wrap: wrap;
    @include flexbox(row,space-evenly,flex-start,wrap);

    /*hijo*/
	div {
		// display: flex;
		// flex-wrap: wrap;
		// flex-direction: column;
		// align-items: center;
		// justify-content: center;
        @include flexbox(column,center,center,wrap);


        /*hijo*/
        .container__footer--derechos {
            font-family: $textosFooter;
            font-weight: bold;
        }

        /*hijo*/
        .email, .tel {
            font-family: $textosFooter;
            text-transform: uppercase;
            font-weight: bold;
        }

        /*hijo*/
        .footer__titulo {
            color:map-get($colores,blanco);
            font-family: $textosTituloUl;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;    
            font-size:60px;

            span {
                color: map-get($colores,blanco);
                animation-name: spanTitulo;
                animation-duration: 2s;
                animation-iteration-count: infinite;
        
                @keyframes spanTitulo {
                    0% {
                        color: map-get($colores,rosaFuerte);
                    }
                    50% {
                        color:map-get($colores,violeta);
                    }
                    100% {
                        color: map-get($colores,rosaFuerte);
                    }
                }
	        }
        }
    }
}
/*termina footer del index*/