/*footer*/

/*padre*/
.container__footer {
	grid-area: footer;
	background-color:map-get($colores,negro);
	color:map-get($colores,blanco);
    @include flexbox(row,space-evenly,center,wrap);

    /*hijo*/
	div {
        @include flexbox(column,center,center,wrap);


        /*hijo*/
        .container__footer--derechos {
            font-family: $textosFooter;
            font-weight: bold;
        }

        /*hijo*/
        .email, .tel {
            @extend .container__footer--derechos;
            font-weight: bold;
        }
    }
}
/*termina footer del index*/