/*header*/
.cabecera {
	grid-area: header;
	background-color:map-get($colores,negro);
	border-bottom: solid 4px map-get($colores,rosaFuerte);
}

.contenedorNav {
	padding: 0px;
}
/*navegacion*/
.navegador {
	@include flexbox(row,flex-start,center,nowrap);
	margin-left: 50px;
}

.nav {
	align-items: center;
	height: 100%;
}

.titulos__container {
	@include flexbox(row,flex-start,center,nowrap);
}

.nav__link--logo {
	padding: 10px;
	margin-right: 30px;
	width: 105px;
	border: solid 3px map-get($colores,blanco);
	border-radius: 50%;
	background: linear-gradient(to right, #af0206, #761161);
}

/*nombre del gym*/
/*padre*/
.fitnessclub {
	color: map-get($colores,blanco);
	font-family: $textosTituloUl;
	text-transform: uppercase;
	font-size: 60px;
	text-decoration: none;
	font-weight: bold;

	/*hijo*/
    span {
        color: map-get($colores,rosaFuerte);
        animation-name: spanTitulo;
        animation-duration: 2s;
        animation-iteration-count: infinite;

		@keyframes spanTitulo {
			0% {
				color: map-get($colores,rosaFuerte);
			}
			50% {
				color: map-get($colores,violeta);
			}
			100% {
				color: map-get($colores,rosaFuerte);
			}
		}
    }

    &:hover {
		color:map-get($colores,blanco);
	}
}

/*cambia constantemente los colores del nombre del gimnasio*/
.navbar-collapse {
	flex-grow: 0;
}

.ul__container__a {
	margin: 10px;
	padding-right: 30px;
	font-size: 2rem;
	color: map-get($colores,blanco);
	font-family: $textosTituloUl;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 2px 2px map-get($colores,rosaFuerte);
    
    &:hover {
        color: map-get($colores,rosaFuerte);
        text-shadow: none;
    }
}
/*termina header y nav del index*/
