.grid-container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";

    grid-template-rows: auto;
    grid-template-columns:  1fr ;

    height: 100%;
    width: 100%;
}

.cabecera {
	grid-area: header;
	background-color:map-get($colores,negro);
	border-bottom: solid 4px map-get($colores,rosaV3);
}

.contenedorNav {
	padding: 0px
}

/*navegacion*/
.navegador {
	@include flexbox(row,flex-start,center,nowrap);
	margin-left: 50px;
}

.nav {
	align-items: center;
	height: 100%;
}

.nav__link--logo {
	padding: 10px;
	margin-right: 30px;
	width: 105px;
	border: solid 3px map-get($colores,blanco);
	border-radius: 50%;
	background: linear-gradient(to right, #af0206, #761161);
}

/*nombre del gym*/
.fitnessclub {
	color: map-get($colores,blanco);
	font-family:map-get($textos,texto1);
	text-transform: uppercase;
	font-size: 60px;
	text-decoration: none;
	font-weight: bold;


    span {
        color: map-get($colores,rosaV3);
        animation-name: spanTitulo;
        animation-duration: 2s;
        animation-iteration-count: infinite;

        /*cambia constantemente los colores del nombre del gimnasio*/
		@keyframes spanTitulo {
			0% {
				color: map-get($colores,rosaV3);
			}
			50% {
				color: #761161;
			}
			100% {
				color: map-get($colores,rosaV3);
			}
		}
    }

    &:hover {
		color:map-get($colores,blanco);
	}
}

.navbar-collapse {
	flex-grow: 0;
}


.contact {
    margin-right: 15px;
}

li {
    margin: 15px;
    a{
        display:flex;
        justify-content: center;
        align-items: center;
        i{
            color: map-get($colores,blanco);
            font-size: 25px;
            margin: 15px;
        }
    }
}

.ul__container__a {

	font-size: 1.8rem;
	color: map-get($colores,blanco);
	font-family: map-get($textos,texto1);
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	text-shadow:3px 2px map-get($colores,rosaV3);
    
    &:hover {
        color: map-get($colores,rosaV3);
        text-shadow: none;
    }
}
/*termina header y nav del index*/

/*main*/
.contenedor {
	grid-area: main;
	background-image: url("../assets/img/Index/imgfondo.png");
	background-repeat: no-repeat;
	background-size: cover;
	@include flexbox(row,center,center,wrap);
}

.contenedor__section {
	@include flexbox(column,center,center,wrap);
	height: 100%;
	width: 100%;

	h1 {
		font-size: 90px;
		font-family: map-get($textos,texto3);
		letter-spacing: 12px;
		text-shadow: 2px 2px map-get($colores,rosaV3);
		color: map-get($colores,negro);
		margin-top: 50px;
		padding: 30px;
		font-weight: bold;
		text-align: center;
	}

	h2 {
		@extend h1;
		margin-top: 0px;
		padding: 20px;
		font-size: 60px;
	}
}

.contenedor__section__boton {
	font-size: 30px;
	background-color: map-get($colores,rosaV3);
	text-transform: uppercase;
	font-family: map-get($textos,texto1);
	letter-spacing: 4px;
	padding: 30px;
	transition: all 0.5s;

    /*aplica transformaciones al boton Contactanos*/
	&:hover {
		transform: scale(1.1);
	}
}

/*logos de redes sociales*/
.logos-redes {
	@include flexbox(row,flex-end,flex-end,wrap);
	width: 100%;

    .fa-brands {
        color: map-get($colores,negro);
        text-shadow: 2px 2px map-get($colores,blanco);
        font-size: 80px;
        margin: 20px;
        animation-name: logos-redes;
        animation-iteration-count: infinite;
        animation-duration: 5s;

        /*animacion de redes sociales: cambio de color*/
        @keyframes logos-redes {
            0% {
                color: map-get($colores,negro);
            }
            25% {
                color: map-get($colores,rosaV3);
            }
            50% {
                color: map-get($colores,violeta);
            }
            75% {
                color: map-get($colores,rosaV3);
            }
            100% {
                color: map-get($colores,negro);
            }
        }

        &:hover {
            text-shadow: 2px 2px map-get($colores,negro);
        }
    }
}
/*termina main del index*/

/*footer*/
footer {
    border-top: solid 4px map-get($colores,rosaV3);
    padding: 20px;
}

.container__footer {
	grid-area: footer;
	background-color:map-get($colores,negro);
	color:map-get($colores,blanco);
    @include flexbox(row,space-evenly,center,wrap);

    
	div {
        @include flexbox(column,center,center,wrap);

        .container__footer--derechos {
            font-family:map-get($textos, texto2);
            font-weight: bold;
        }

        .email, .tel {
            @extend .container__footer--derechos;
            font-weight: bold;
        }
    }
}
/*termina footer del index*/
@media screen and (max-width: 1600px) {


    .ul__container__a {
        font-size: 1.7rem;
    }

    .fitnessclub{
        font-size:50px;
    }

    li {
        a{

            i{
                font-size: 22px;

            }
        }
    }

}

@media screen and (max-width: 1480px) {

    .nav__link--logo{
        width:95px;
    }

    .fitnessclub{
        font-size:45px;
    }

    .ul__container__a {
        font-size: 1.6rem;
        color: map-get($colores,blanco);
    }

    .contenedor__section{
        justify-content: flex-end;

        h1{
            font-size: 80px;
        }

        h2 {
            font-size: 50px;
        }
    }

    .contenedor__section__boton {
        font-size: 25px;
        padding: 25px;
    }

    .container__footer--derechos,.email,.tel {
        font-size: 17px;
    }

}

@media screen and (max-width: 1370px) {

    .fitnessclub{
        font-size:40px;
    }

    .ul__container__a {
        font-size: 1.5rem;
        color: map-get($colores,blanco);
    }

    li{
        margin: 12px;
    }
}

@media screen and (max-width: 1290px) {
    
    .nav__link--logo{
        width:90px;
        margin: 0px ;
    }
    
    li{
        margin: 10px;
    }

    .ul__container__a {
        font-size: 1.4rem;

    }
  
    .contenedor__section{
        h1{
            font-size: 75px;
        }

        h2 {
            font-size: 45px;
        }
    }

    .container__footer--derechos,.email, .tel {
        font-size: 14px;
    }

    .fa-brands{
        font-size:60px !important;
    }
}
@media screen and (max-width: 1222px) {

    .ul__container__a {
        font-size: 1.3em;
    }

    li {
        a{
            i{
                font-size: 20px;

            }
        }
    }

}
@media screen and (max-width: 1166px) {

    .ul__container__a {
        font-size: 1.2em;
    }

    li {
        margin: 8px;
        a{
            i{
                font-size:18px;

            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .fitnessclub{
        font-size:35px;
    }
}

@media screen and (max-width: 1080px) {

    .nav__link--logo{
        width:80px;
    }
    .fitnessclub{
        font-size:30px;
    }

    .ul__container__a {
        font-size: 1.2em;
    }

    li {
        margin: 6px;

        a{
            i{
                font-size:16px;

            }
        }
    }
}

@media screen and (max-width: 992px) {
    .contenedorNav {
       justify-content:center !important;
    }
}

@media screen and (max-width: 990px) {
    .fitnessclub{
        font-size:40px;
    }

    .ul__container__a {
        font-size: 1.6rem;
   }
}

@media screen and (max-width: 900px) {
    .contenedor__section {

        h1  {
            font-size: 70px;
            padding: 10px;
        }

        h2 {
            font-size: 40px;
            padding: 10px;
        }
    }

    .contenedor__section__boton {
        font-size: 20px;
        padding: 20px;
    }

    .container__footer--derechos,.email, .tel {
        font-size: 12px;
    }

}

/*vista de tablet*/
@media screen and (max-width: 700px) {

    .contenedor__section {
        h1  {
            font-size: 50px;
            text-shadow:  1px 1px map-get($colores,rosaV3);
        }

        h2 {
            font-size: 35px;
            text-shadow:  1px 1px map-get($colores,rosaV3);
        }
    }

    .contenedor__section__boton {
        font-size: 17px;
        padding: 17px;
    }

    .container__footer--derechos,.email, .tel {
        font-size: 12px;
    }

    .fa-brands {
        font-size:45px !important;
    }
}

@media screen and (max-width: 480px) {
    .nav__link--logo{
        width:70px;
    }

    .fitnessclub{
        font-size:35px;
    }

    .contenedor__section {
        h1  {
            font-size: 40px;
        }

        h2 {
            font-size: 30px;
        }
    }

    .container__footer--derechos,.email, .tel {
        font-size: 10px;
    }
     
}

@media screen and (max-width: 390px) {
    .contenedorNav {
        justify-content:flex-start !important;
    }

    .fitnessclub{
        font-size:30px;
    }
    
    .boton-barras{
        display:flex;
        width: 100%;
        justify-content: center;
    }
}



