/*main*/
.contenedor {
	grid-area: main;
	background-image: url("../assets/img/Index/imgfondo.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: solid 4px map-get($colores,rosaFuerte);
	@include flexbox(row,center,center,wrap);
}

.contenedor__section {
	@include flexbox(column,center,center,wrap);

	height: 100%;
	width: 100%;

	/*hijo*/
	h1 {
		font-size: 90px;
		font-family: $textosMain;
		letter-spacing: 12px;
		text-shadow: 2px 2px map-get($colores,rosaFuerte);
		color: map-get($colores,negro);
		margin-top: 50px;
		padding: 30px;
		font-weight: bold;
		text-align: center;
	}

	/*hijo*/
	h2 {
		@extend h1;
		margin-top: 0px;
		padding: 20px;
		font-size: 60px;
	}
}

.contenedor__section__boton {
	font-size: 30px;
	background-color: map-get($colores,rosaFuerte);
	text-transform: uppercase;
	font-family: 'Rajdhani', sans-serif;
	letter-spacing: 4px;
	padding: 30px;
	transition: all 0.5s;

    /*aplica transformaciones al boton Contactanos*/
	&:hover {
		transform: scale(1.1);
	}
}

/*logos de redes sociales*/
.logos-redes {
	@include flexbox(row,flex-end,flex-end,wrap);
	width: 100%;

    .fa-brands {
        color: map-get($colores,negro);
        text-shadow: 2px 2px map-get($colores,blanco);
        font-size: 80px;
        margin: 20px;
        animation-name: logos-redes;
        animation-iteration-count: infinite;
        animation-duration: 5s;

        /*animacion de redes sociales: cambio de color*/
        @keyframes logos-redes {
            0% {
                color: map-get($colores,negro);
            }
            25% {
                color: map-get($colores,rosaFuerte);
            }
            50% {
                color: map-get($colores,violeta);
            }
            75% {
                color: map-get($colores,rosaFuerte);
            }
            100% {
                color: map-get($colores,negro);
            }
        }

        &:hover {
            text-shadow: 2px 2px map-get($colores,negro);
        }
    }
}
/*termina main del index*/
