/*seccion nosotros*/
.grid-nosotros {
	grid-template-areas:
    "header"
    "main" 
    "footer";
}

.main--titulo {
	text-align: center;
	margin: 40px 0;
	font-family: map-get($textos,texto4);
	text-shadow: 2px 1px map-get($colores,blanco);
	text-transform: uppercase;
	font-size: 60px;
	letter-spacing: 5px;
	color: map-get($colores,negro);
}

.contenedor--nosotros {
	@include flexbox(row,center,center,wrap);
}

.div__entrenadores {
	@include flexbox(column,center,center,wrap);

	width: 26rem;
	height: 33rem;
	border: 2px solid map-get($colores,blanco);
	background-image: linear-gradient(to bottom, map-get($colores,rosaV3),map-get($colores,negroClaro));
	margin: 30px;
	transition: all .2s;

	/*hace zoom y cambia de color de fondo*/
	&:hover {
		transform: scale(1.1);
		background-image: linear-gradient(to bottom, map-get($colores,rosaV2), map-get($colores,negroClaro));
	}

	img {
		width: 18rem;
		height: 18rem;
		margin-top: 20px;
	}

	h3 {
		font-size: 28px;
		text-transform: uppercase;
		font-family: map-get($textos,texto5);
		margin: 10px 0;
		color: map-get($colores,blanco);
	}
    
	p {
		font-size: 20px;
		font-family:  map-get($textos,texto4);
		color:map-get($colores,blanco);
		padding: 20px;
		text-align: center;
	}
}

/*media queries de nosotros*/
@media screen and (max-width: 1340px) {
	.main--titulo {
		font-size: 50px;
	}
	.div__entrenadores {
		width: 22rem;
		height: 29rem;
		img {
			width: 14rem;
			height: 14rem;
			margin-top: 16px;
		}
	}
}

@media screen and (max-width: 900px) {
	.main--titulo {
		font-size: 40px;
	}
	.div__entrenadores {
		width: 19rem;
		height: 26rem;
		img {
			width: 11rem;
			height: 11rem;
			margin-top: 13px;
		}
		h3 {
			font-size: 22px;
		}
		p {
			font-size: 16px;
		}
	}
}
@media screen and (max-width: 700px) {
	.main--titulo {
		font-size: 30px;
	}
	.div__entrenadores {
		width: 16rem;
		height: 23rem;
		img {
			width: 10rem;
			height: 10rem;
			margin-top: 10px;
		}
		h3 {
			font-size: 20px;
		}
		p {
			font-size: 14px;
		}
	}
}
@media screen and (max-width: 420px) {

	.div__entrenadores {
		width: 14rem;
		height: 21rem;
		img {
			width: 8rem;
			height: 8rem;
			margin-top: 8px;
		}
		h3 {
			font-size: 18px;
		}
		p {
			font-size: 13px;
		}
	}
}

@media screen and (max-width: 380px) {

	.main--titulo {
		font-size: 24px;
	}
}
/*termina seccion Sedes*/
