
$colores :(
    blanco: #fff,
    negro: #000,
    rosaV3: #af0e2f,
    violeta:#761161,
    rosaV2:#af374f,
    negroV2:#0a0a0a,
    rosav1:#e28686,
    bordo: #89243a,
    gris:#e0e0e0,
    bordoV2: #87021f,
    rosaV4:#b3304a,
    rojo:#af0206,
    violetaV2:#321b5f,
    bordoV3:#460000,
    bordoV4: #6f0101,
    violetaV3:#322056
 
);

$textos :(
    texto1: 'Rajdhani',
    texto2: 'Montserrat',
    texto3:'Bebas Neue',
    texto4:'Fjalla One',
    texto5:'Oswald',
    texto6:'Gill Sans'
);