/*variables*/
$textosTituloUl:'Rajdhani', sans-serif;
$textosFooter: 'Montserrat', sans-serif;
$textosMain:'Bebas Neue', cursive;

$colores :(
    blanco: #fff,
    negro: #000,
    rosaFuerte: #af0e2f,
    violeta:#761161
);